body {
    background-color: #2e0e02;
    padding: 0;
    margin: 0;
}

.center {
    color: #fff;
    text-align: center;
    border: 5px solid #e2aedd;
    border-radius: 5px;
    margin: 5px;
}

h1 {
    color: #983628;
}

li {
    display: inline-block;
    font-size: 2vw;
    list-style-type: none;
    padding: 15px;
}

li span {
    display: block;
    font-size: 5vw;
}

ul {
    color: #ebcbf4;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 200%;
        color: #983628;
    }
    li {
        display: inline-block;
        font-size: 5vw;
        list-style-type: none;
        padding: 5px;
    }
    li span {
        display: block;
        font-size: 10vw;
    }
}

img {
    background-image: "";
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 110vw;
}